@font-face {
    font-family: 'Mak';
    src: url('Mak-Light.woff2') format('woff2'),
        url('Mak-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mak';
    src: url('Mak-Bold.woff2') format('woff2'),
        url('Mak-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

